<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card p-fluid">
      <h5>Comment Simulator</h5>
      <div class="field">
        <label htmlFor="name">Name:</label>
        <input pInputText id="name" type="text" [(ngModel)]="name" />
      </div>
      <div class="field">
        <label htmlFor="name">Comment:</label>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="comment"></textarea>
      </div>
      <div class="col-4">
        <button pButton label="Submit" type="submit" (click)="submit()"></button>
      </div>
    </div>

    <div class="card p-fluid">
      <h5>Comment</h5>
      <div class="field">
        <div *ngFor="let item of commentList">
          <b>{{item.name}}</b> &nbsp; &nbsp; &nbsp; &nbsp;{{item.timeStamp}}<br>
          {{item.comment}}
          <span class="p-buttonset col-6">
            <button pButton pRipple label="Edit" icon="pi pi-check" (click)="onEdit()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" (click)="onDelete()"></button>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>