<!-- <div class="custom-container">
  <div class="row">
    <div class="row">
      <div class="col" style="background-color: #ff0000"></div>
      <div class="col" style="background-color: #008800"></div>
    </div>
    <div class="row">
      <div class="col" style="background-color: #0000ff"></div>
      <div class="col" style="background-color: #000000"></div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>

 -->

<div class="card">
  <div class="custom-container">
    <div class="row">
      <div class="col" style="background-color: #ff0000"></div>
      <div class="col" style="background-color: #008800"></div>
    </div>
    <div class="row">
      <div class="col" style="background-color: #0000ff"></div>
      <div class="col" style="background-color: #000000"></div>
    </div>
  </div>
</div>
