<!-- <div class="grid"> -->
<!-- <div class="col-6"> -->
<!-- <div class="card p-fluid">
  <h5>Locator</h5>
  <div class="field">
    <label htmlFor="name1">Latitude:</label>
    <input pInputText id="latitude" type="text" [(ngModel)]="customPoint.latitude" />
  </div>
  <div class="field">
    <label htmlFor="email1">Longitude:</label>
    <input pInputText id="logitude" type="text" [(ngModel)]="customPoint.longitude" />
  </div>
  <div class="mybtn-size">
    <p-button label="Locate" (click)="onLocate()"></p-button>
  </div>
</div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div class="locator-position"> -->
<p-accordion class="p-fluid">
  <p-accordionTab header="Locator" [selected]="true" class="line-height-3 m-0">
    TestMessage: {{mytest}}
    <div class="field">
      <label htmlFor="name1">Latitude:</label>
      <input pInputText id="latitude" type="text" [(ngModel)]="customPoint.latitude" />
    </div>
    <div class="field">
      <label htmlFor="email1">Longitude:</label>
      <input pInputText id="logitude" type="text" [(ngModel)]="customPoint.longitude" />
    </div>
    <div class="mybtn-size">
      <p-button label="Locate" (click)="onLocate()"></p-button>
    </div>

  </p-accordionTab>
</p-accordion>
<!-- </div> -->