<form [formGroup]="loginForm" (ngSubmit)="signIn()">
  <div class="inner-content">
    <div style="text-align: center">
      <div class="logo"></div>
      <p class="form-title">Sign in to AtlasX Web Application</p>
    </div>

    <div class="form-group-item">
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username" autofocus />
    </div>
    <div class="form-group-item">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" />
    </div>

    <div style="text-align: right">
      <button type="submit">Sign in</button>
    </div>
  </div>
</form>

<div class="more">
  <a routerLink="/help">Help</a>
  <a routerLink="/privacy">Privacy</a>
  <a routerLink="/terms">Terms</a>
</div>
