<div class="grid">
  <div class="col-12 md:col-6">
    <div class="card p-fluid">
      <h5>Comment Simulation</h5>
      <div class="field">
        <label htmlFor="name1">Name</label>
        <input pInputText id="name1" type="text" />
      </div>
      <div class="field">
        <label htmlFor="email1">Email</label>
        <input pInputText id="email1" type="text" />
      </div>
      <div class="field">
        <label htmlFor="age1">Age</label>
        <input pInputText id="age1" type="text" />
      </div>
    </div>

    <!-- <div class="card p-fluid">
      <h5>Vertical Grid</h5>
      <div class="row">
        <div class="col-4">
          <label class="control-label" htmlFor="username">Name</label>
        </div>
        <div class="col-4">
          <input class="form-control" type="text" pInputText formControlName="name" />
        </div>
        <div class="row">
          <label class="control-label" htmlFor="comment">Commnet</label>
          <div class="card flex justify-content-center">
            <textarea class="form-control" rows="5" cols="30" pInputTextarea formControlName="comment"></textarea>
          </div>
        </div>

        <button pButton pRipple label="Submit" class="p-button-success"></button>

        <p-divider></p-divider>

        <div class="row"><b>Comments</b></div>
        <div>
          <b>{{ commentData.name }}</b>     {{ commentData.timeStamp | date : 'MMM dd, yyyy hh:mm:ss' }}
        </div>
        <div>{{ commentData.comment }}</div>
        <div class="row">
          <button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
          <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-danger" [style]="{ 'margin-left': '.5em' }" (onClick)="onDelete()"></p-button>
        </div>

      </div>
    </div> -->
  </div>
</div>

<!-- <p-toast position="top-right" key="tl"></p-toast> -->
