<form [formGroup]="commentForm" (submit)="onSubmit()">
  <p-card header="Comment Simulation" subheader="New Comment" [style]="{ width: '345px' }" styleClass="p-card-shadow">
    <div class="row">
      <div class="col-4">
        <label class="control-label" htmlFor="username">Name</label>
      </div>
      <div class="col-4">
        <input class="form-control" type="text" pInputText formControlName="name" />
      </div>
      <div class="row">
        <label class="control-label" htmlFor="comment">Commnet</label>
        <div class="card flex justify-content-center">
          <textarea class="form-control" rows="5" cols="30" pInputTextarea formControlName="comment"></textarea>
        </div>
      </div>

      <button pButton pRipple label="Submit" class="p-button-success"></button>

      <p-divider></p-divider>

      <div class="row"><b>Comments</b></div>
      <div>
        <b>{{ commentData.name }}</b>     {{ commentData.timeStamp | date : 'MMM dd, yyyy hh:mm:ss' }}
      </div>
      <div>{{ commentData.comment }}</div>
      <div class="row">
        <button pButton pRipple type="button" label="Warning" class="p-button-warning"></button>
        <p-button
          label="Delete"
          icon="pi pi-trash"
          styleClass="p-button-danger"
          [style]="{ 'margin-left': '.5em' }"
          (onClick)="onDelete()"
        ></p-button>
      </div>
      <!-- <div class="row">
        <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning"></button>
      </div> -->
    </div>
  </p-card>
</form>

<p-toast position="top-right" key="tl"></p-toast>
